<div class="centered full-width">
<h1>Meals containing <%=@ingredient.name.titleize%></h1>
  <ul class="list-group full-width">
    <% @ingredient.meals.order("updated_at DESC").each do |meal|%>
    <li><h3><a href="\meals\<%=meal.id%>" class="list-group-item"><%= meal.name.titleize %></h3></a>
      <p>updated: <%=meal.updated_at.strftime("%A, %B %d, %Y")%> created by: <a href="/users/<%=meal.username.downcase%>"><%=meal.username%></a></p>
    </li>
    <%end%>
  </ul>
</div>
