<div>
  <h2><%= @meal.name.titleize %></h2>
  <p>Created By: <a href="/users/<%=@meal.username.downcase%>"><%=@meal.username.titleize%></a></p>
  <p>Updated: <%=@meal.updated_at.strftime("%A, %B %d, %Y")%></p>
  <% if logged_in?%>
    <a href="/meals/<%=@meal.id%>/duplicate">Copy this Meal</a>
    <% if editable?%>
    | 
    <a href="/meals/<%=@meal.id%>/edit">Edit this Meal</a>
    <%end%>
  <%end%>

  <h3>Ingredients</h3>
  <% @meal.ingredients.uniq.each do |ingredient| %>
  <ul class="list-group">
    <li> <a href="/ingredients/<%=ingredient.id%>" class="list-group-item"><%= ingredient.name.titleize%></a></li>
  </ul>
  <% end %>
  <h3>Description</h3>
  <ul class="list-group">
    <li class="list-group-item"><p><%= @meal.description %></p></li>
  </ul>

</div>







